$white-color: #FFFFFF;

.link {
  text-decoration: none;
    &__text {
      color: $white-color;
    }
}

.nav-link {
    &__button {
      text-decoration: none;
    }
}


.dialog {
  &__closeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }

  &__paper {
    // width: 1 x;
    max-width: none;
  }

  &__form {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 50px;
  }
}